@font-face{
    font-family: 'Roboto-VariableFont_wdth,wght';
    src: url('../font/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto-VariableFont_wdth,wght';
}
/* --------------estilos globales------------------ */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Oculta las flechas */
    margin: 0; /* Elimina el margen */
}

/* Para Firefox */
/* input[type=number] {
    -moz-appearance: textfield
} */

/* Para navegadores modernos (alternativa general) */
input[type=number] {
    appearance: textfield; /* Elimina la apariencia de input numérico */
}

input[type=text], input[type=email], input[type=date]{
    padding: 1px 1px;
}

select{
    padding: 5px 2px;
    width: 100px;
}
input[type=text]:focus{
    outline: none;
}
.btn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* ----primary----- */
.btn-primary {
  background-color: rgb(0, 123, 255); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none;    /* Borde del mismo color */
}
.btn-primary:hover {
  background-color: #0056b3; /* Azul más oscuro */
  border-color: none;
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Sombra para accesibilidad */
}
.btn-primary:disabled {
  background-color: rgba(0, 123, 255, 0.425); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none; 
  cursor: not-allowed; /* Cursor de no permitido */
  opacity: 0.6;   /* Borde del mismo color */
}

.btn-primary:hover:disabled {
  background-color: rgba(0, 123, 255, 0.425); /* Azul más oscuro */
  border-color: none;
}

/* -------success----- */
.btn-success {
  background-color: rgb(42, 167, 65); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none;    /* Borde del mismo color */
}
.btn-success:hover {
  background-color: rgb(21, 115, 71); /* Azul más oscuro */
  border-color: none;
}
.btn-success:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(42, 167, 65, 0.25); /* Sombra para accesibilidad */
}
.btn-success:disabled {
  background-color: rgba(42, 167, 65, 0.425); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none; 
  cursor: not-allowed; /* Cursor de no permitido */
  opacity: 0.6;   /* Borde del mismo color */
}
.btn-success:hover:disabled {
  background-color: rgba(42, 167, 65, 0.425); /* Azul más oscuro */
  border-color: none;
}

/* ------secondary------ */
.btn-secondary {
  background-color: rgb(107, 117, 126); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none;    /* Borde del mismo color */
}
.btn-secondary:hover {
  background-color: #6C757D; /* Azul más oscuro */
  border-color: none;
}
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(107, 117, 126, 0.25); /* Sombra para accesibilidad */
}
.btn-secondary:disabled {
  background-color: rgba(107, 117, 126, 0.425); /* Azul vibrante */
  color: #ffffff;           /* Texto blanco */
  border-color: none; 
  cursor: not-allowed; /* Cursor de no permitido */
  opacity: 0.6;   /* Borde del mismo color */
}
.btn-secondary:hover:disabled {
  background-color: rgba(107, 117, 126, 0.425); /* Azul más oscuro */
  border-color: none;
}
/* ------ estilos botones end --------- */

.btn-alone{
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}
.mainGo {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 24px;
}
.mainGo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4c5786;
  /* El truco: escala 0 y origen a la derecha */
  transform: scaleX(0);
  transform-origin: bottom left;
  /* transform-origin: bottom right; */
  transition: transform 0.3s ease-out;
}
.mainGo:hover::after {
  /* Al hover, escala a 1 y cambia el origen a la izquierda */
  transform: scaleX(1);
  transform-origin: bottom left;
  /* transform-origin: bottom left; */
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.porcent{
    position: relative;
}
.porcent input{
    padding-right: 25px ;
    margin-left: 4px;
    width: 135px;
}
.porcent i {
    position: absolute;
    right: 10px;
    top: 6px;
}
.oculto{
    display: none;
}
/* ------------------------------------------------ */
/* -------------estilo main -------------------- */
.btn-arrow{
    margin-left: 15px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.btn-arrow:hover{
    transform:translateX(3px);
}

.cont-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.opciones{
    position: relative;
    padding: 25px 100px 25px 25px;
    border: 1px solid #2E344E;
}

.opciones div{
    display: flex;
    margin: 20px 0 ;   
    
}

@media screen and (max-width: 453px ) {
    .btn-arrow .AR1{
        margin-top: 20px;
    }
}

@media screen and (max-width: 312px ) {
    .btn-arrow .AR1{
        margin-top: 25px;
    }
    .btn-arrow .AR3{
        margin-top: 15px;
    }
}
@media screen and (max-width: 263px ) {
    .btn-arrow .AR1{
        margin-top: 30px;
    }
    .btn-arrow .AR2{
        margin-top: 10px;
    }
    .btn-arrow .AR3{
        margin-top: 15px;
    }
}
/* --------------------------------------------- */
.titulo{
    display: flex;
    align-items: center;
    margin: 20px;
}
.titulo a{
    width: 80px;
    height: 36px;
    margin-right: 20%;
    padding-bottom: 5px;
}

/* ------------estilos alta empleado------------- */

/* --------------------------------------------- */

/* ------------estilo propiedades empleados ----------- */

/* ---------------------------------------------------- */
/* ------------estilo papel de trabajo ----------- */


.TableDatosEmpleado{
    margin: 10px;
    border-collapse: collapse;
    border: 1px solid #d8d8d8;
}

.TableDatosEmpleado tbody tr td:nth-child(1),
.TableDatosEmpleado tbody tr td:nth-child(3){
 width: 180px;
 border-right: 1px solid #d8d8d8;
 border-bottom: 1px solid #d8d8d8;
 padding-left: 10px;
 background-color: rgb(15, 36, 62);;
 color: #d8d8d8;
 
 /* background-color: #0056b3; */
}
.TableDatosEmpleado tbody tr td:nth-child(2),
.TableDatosEmpleado tbody tr td:nth-child(4){
    width: 500px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 3px solid #d8d8d8;
    padding-left: 10px;
    background-color: rgb(15, 36, 62);
    color: #d8d8d8;
    /* background-color: #4c5786; */
}

.table_Propiedades input[type=date],
.table_Propiedades select {
    padding: 0;
}





/* ---------------------------------------------------- */